<!DOCTYPE html>
<html lang="en" ng-app="WebApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-route.js"></script>
    <script type="text/javascript" src="/assets/js/ApiMethod.js"></script>
    <script type="text/javascript" src="/assets/js/AppController.js"></script>
    <script type="text/javascript" src="/assets/js/Service.js"></script>
    <script type="text/javascript" src="/assets/js/Directives.js"></script>
    <title>Home</title>
</head>

<body ng-Controller="AppController">
    <div class="layout">
        <div ng-view />
    </div>
    </div>


</body>

</html>